D:\REPOSITORIOS DE GITHUB\Clenic-Backend\MyE\MyE.Presentation.WebApi\obj
D:\REPOSITORIOS DE GITHUB\Clenic-Backend\MyE\MyE.Business.Component\obj
D:\REPOSITORIOS DE GITHUB\Clenic-Backend\MyE\MyE.Business.Workflow\obj
D:\REPOSITORIOS DE GITHUB\Clenic-Backend\MyE\MyE.Business.Entities\obj
D:\REPOSITORIOS DE GITHUB\Clenic-Backend\MyE\MyE.Data\obj
D:\REPOSITORIOS DE GITHUB\Clenic-Backend\MyE\MyE.WebApplication\obj
D:\REPOSITORIOS DE GITHUB\Clenic-Backend\MyE\MyE.Entities\obj
