/****** Object:  UserDefinedFunction [dbo].[fn_diagramobjects]    Script Date: 18/06/2020 4:49:22 ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE FUNCTION [dbo].[fn_diagramobjects]() 
	RETURNS int
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		declare @id_upgraddiagrams		int
		declare @id_sysdiagrams			int
		declare @id_helpdiagrams		int
		declare @id_helpdiagramdefinition	int
		declare @id_creatediagram	int
		declare @id_renamediagram	int
		declare @id_alterdiagram 	int 
		declare @id_dropdiagram		int
		declare @InstalledObjects	int

		select @InstalledObjects = 0

		select 	@id_upgraddiagrams = object_id(N'dbo.sp_upgraddiagrams'),
			@id_sysdiagrams = object_id(N'dbo.sysdiagrams'),
			@id_helpdiagrams = object_id(N'dbo.sp_helpdiagrams'),
			@id_helpdiagramdefinition = object_id(N'dbo.sp_helpdiagramdefinition'),
			@id_creatediagram = object_id(N'dbo.sp_creatediagram'),
			@id_renamediagram = object_id(N'dbo.sp_renamediagram'),
			@id_alterdiagram = object_id(N'dbo.sp_alterdiagram'), 
			@id_dropdiagram = object_id(N'dbo.sp_dropdiagram')

		if @id_upgraddiagrams is not null
			select @InstalledObjects = @InstalledObjects + 1
		if @id_sysdiagrams is not null
			select @InstalledObjects = @InstalledObjects + 2
		if @id_helpdiagrams is not null
			select @InstalledObjects = @InstalledObjects + 4
		if @id_helpdiagramdefinition is not null
			select @InstalledObjects = @InstalledObjects + 8
		if @id_creatediagram is not null
			select @InstalledObjects = @InstalledObjects + 16
		if @id_renamediagram is not null
			select @InstalledObjects = @InstalledObjects + 32
		if @id_alterdiagram  is not null
			select @InstalledObjects = @InstalledObjects + 64
		if @id_dropdiagram is not null
			select @InstalledObjects = @InstalledObjects + 128
		
		return @InstalledObjects 
	END
	
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[ClienteId] [int] IDENTITY(1,1) NOT NULL,
	[NSector] [varchar](20) NOT NULL,
 CONSTRAINT [cliente_pk] PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departamento]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departamento](
	[DepartamentoId] [varchar](2) NOT NULL,
	[NDepartamento] [varchar](30) NOT NULL,
 CONSTRAINT [departamento_pk] PRIMARY KEY CLUSTERED 
(
	[DepartamentoId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[distrito]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[distrito](
	[Ubigeo] [varchar](6) NOT NULL,
	[DistritoId] [varchar](2) NOT NULL,
	[NDistrito] [varchar](50) NOT NULL,
	[ProvinciaId] [varchar](2) NOT NULL,
	[DepartamentoId] [varchar](2) NOT NULL,
 CONSTRAINT [distrito_pk] PRIMARY KEY CLUSTERED 
(
	[Ubigeo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ejemplar]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ejemplar](
	[EjemplarId] [int] IDENTITY(1,1) NOT NULL,
	[NumSerie] [int] NOT NULL,
	[EquipoId] [int] NOT NULL,
 CONSTRAINT [ejemplar_pk] PRIMARY KEY CLUSTERED 
(
	[EjemplarId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[EmpleadoId] [int] NOT NULL,
	[DNI] [varchar](10) NOT NULL,
	[TDireccion] [varchar](50) NOT NULL,
	[NumContacto] [int] NOT NULL,
	[Correo] [varchar](100) NOT NULL,
 CONSTRAINT [empleado_pk] PRIMARY KEY CLUSTERED 
(
	[EmpleadoId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipo]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipo](
	[EquipoId] [int] IDENTITY(1,1) NOT NULL,
	[CodBarra] [varchar](20) NOT NULL,
	[ModeloId] [int] NOT NULL,
 CONSTRAINT [equipo_pk] PRIMARY KEY CLUSTERED 
(
	[EquipoId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fabricante]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fabricante](
	[FabricanteId] [int] IDENTITY(1,1) NOT NULL,
	[NFabricante] [varchar](30) NOT NULL,
 CONSTRAINT [fabricante_pk] PRIMARY KEY CLUSTERED 
(
	[FabricanteId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lugar]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lugar](
	[LugarId] [int] IDENTITY(1,1) NOT NULL,
	[TDireccion] [varchar](50) NOT NULL,
	[LugarReferencia] [varchar](100) NULL,
	[Ubigeo] [varchar](6) NOT NULL,
 CONSTRAINT [lugar_pk] PRIMARY KEY CLUSTERED 
(
	[LugarId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lugar_cliente]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lugar_cliente](
	[LugarClienteId] [int] IDENTITY(1,1) NOT NULL,
	[LugarId] [int] NOT NULL,
	[NombreSede] [varchar](50) NULL,
	[ClienteId] [int] NOT NULL,
	[NumContacto] [int] NOT NULL,
	[Correo] [varchar](100) NOT NULL,
 CONSTRAINT [lugar_cliente_pk] PRIMARY KEY CLUSTERED 
(
	[LugarClienteId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modelo]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modelo](
	[ModeloId] [int] IDENTITY(1,1) NOT NULL,
	[NModelo] [varchar](50) NOT NULL,
	[EquipoId] [int] NOT NULL,
 CONSTRAINT [modelo_pk] PRIMARY KEY CLUSTERED 
(
	[ModeloId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orden]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orden](
	[OrdenId] [int] IDENTITY(1,1) NOT NULL,
	[Lugar_PersonasId] [int] NOT NULL,
	[FechaGeneracion] [date] NULL,
	[FechaEjecucion] [date] NULL,
	[Estado] [varchar](1) NOT NULL,
	[EmpleadoId] [int] NOT NULL,
 CONSTRAINT [orden_pk] PRIMARY KEY CLUSTERED 
(
	[OrdenId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orden_detalle]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orden_detalle](
	[OrdenDetalleId] [int] IDENTITY(1,1) NOT NULL,
	[OrdenId] [int] NOT NULL,
	[EjemplarId] [int] NOT NULL,
	[Estado] [varchar](1) NOT NULL,
 CONSTRAINT [orden_detalle_pk] PRIMARY KEY CLUSTERED 
(
	[OrdenDetalleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orden_servicio]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orden_servicio](
	[OrdenServicioId] [int] IDENTITY(1,1) NOT NULL,
	[ServicioId] [int] NOT NULL,
	[OrdenDetalleId] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
 CONSTRAINT [orden_servicio_pk] PRIMARY KEY CLUSTERED 
(
	[OrdenServicioId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[PersonaId] [int] IDENTITY(1,1) NOT NULL,
	[NPersona] [varchar](50) NOT NULL,
 CONSTRAINT [persona_pk] PRIMARY KEY CLUSTERED 
(
	[PersonaId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provincia]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provincia](
	[ProvinciaId] [varchar](2) NOT NULL,
	[DepartamentoId] [varchar](2) NOT NULL,
	[NProvincia] [varchar](30) NOT NULL,
 CONSTRAINT [provincia_pk] PRIMARY KEY CLUSTERED 
(
	[ProvinciaId] ASC,
	[DepartamentoId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reporte]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reporte](
	[ReporteId] [int] IDENTITY(1,1) NOT NULL,
	[Asunto] [varchar](100) NOT NULL,
	[Observacion] [varchar](200) NOT NULL,
	[FechaGeneracion] [date] NOT NULL,
	[FechaAtencion] [date] NULL,
	[FechaEjecucion] [date] NULL,
	[Estado] [varchar](1) NULL,
	[OrdenServicioId] [int] NOT NULL,
 CONSTRAINT [reporte_pk] PRIMARY KEY CLUSTERED 
(
	[ReporteId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servicio]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servicio](
	[ServicioId] [int] IDENTITY(1,1) NOT NULL,
	[NServicio] [varchar](50) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
 CONSTRAINT [servicio_pk] PRIMARY KEY CLUSTERED 
(
	[ServicioId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 18/06/2020 4:49:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[UsuarioId] [varchar](50) NOT NULL,
	[PersonaId] [int] NOT NULL,
	[psw] [varchar](50) NOT NULL,
	[Perfil] [varchar](1) NOT NULL,
	[Token] [varchar](max) NOT NULL,
 CONSTRAINT [usuario_pk] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cliente] ON 

INSERT [dbo].[cliente] ([ClienteId], [NSector]) VALUES (1, N'Naval')
INSERT [dbo].[cliente] ([ClienteId], [NSector]) VALUES (2, N'Hospital Militar')
INSERT [dbo].[cliente] ([ClienteId], [NSector]) VALUES (3, N'Stella Maris')
SET IDENTITY_INSERT [dbo].[cliente] OFF
INSERT [dbo].[departamento] ([DepartamentoId], [NDepartamento]) VALUES (N'1', N'Lima')
INSERT [dbo].[distrito] ([Ubigeo], [DistritoId], [NDistrito], [ProvinciaId], [DepartamentoId]) VALUES (N'1', N'1', N'San Miguel', N'1', N'1')
SET IDENTITY_INSERT [dbo].[ejemplar] ON 

INSERT [dbo].[ejemplar] ([EjemplarId], [NumSerie], [EquipoId]) VALUES (1, 564, 1)
SET IDENTITY_INSERT [dbo].[ejemplar] OFF
INSERT [dbo].[empleado] ([EmpleadoId], [DNI], [TDireccion], [NumContacto], [Correo]) VALUES (1, N'74458965', N'Av. Arenales', 345675434, N'ernesto@hotmail.com')
INSERT [dbo].[empleado] ([EmpleadoId], [DNI], [TDireccion], [NumContacto], [Correo]) VALUES (3, N'454536', N'Av. Los tortolos 165', 987894684, N'gonzalo@gmail.com')
INSERT [dbo].[empleado] ([EmpleadoId], [DNI], [TDireccion], [NumContacto], [Correo]) VALUES (4, N'7485962', N'Av. Salaverry', 243212345, N'alex@gmail.com')
SET IDENTITY_INSERT [dbo].[equipo] ON 

INSERT [dbo].[equipo] ([EquipoId], [CodBarra], [ModeloId]) VALUES (1, N'456485646', 2)
SET IDENTITY_INSERT [dbo].[equipo] OFF
SET IDENTITY_INSERT [dbo].[fabricante] ON 

INSERT [dbo].[fabricante] ([FabricanteId], [NFabricante]) VALUES (1, N'Panama')
INSERT [dbo].[fabricante] ([FabricanteId], [NFabricante]) VALUES (2, N'Sony')
INSERT [dbo].[fabricante] ([FabricanteId], [NFabricante]) VALUES (3, N'Jamsa')
SET IDENTITY_INSERT [dbo].[fabricante] OFF
SET IDENTITY_INSERT [dbo].[lugar] ON 

INSERT [dbo].[lugar] ([LugarId], [TDireccion], [LugarReferencia], [Ubigeo]) VALUES (1, N'Jr. Urubamba 163', N'Av. La Mar', N'1')
SET IDENTITY_INSERT [dbo].[lugar] OFF
SET IDENTITY_INSERT [dbo].[lugar_cliente] ON 

INSERT [dbo].[lugar_cliente] ([LugarClienteId], [LugarId], [NombreSede], [ClienteId], [NumContacto], [Correo]) VALUES (1, 1, N'Stella Central', 3, 99789562, N'central@gmail.com')
INSERT [dbo].[lugar_cliente] ([LugarClienteId], [LugarId], [NombreSede], [ClienteId], [NumContacto], [Correo]) VALUES (2, 1, N'Stella Sad', 3, 99789562, N'sad@hotmail.com')
SET IDENTITY_INSERT [dbo].[lugar_cliente] OFF
SET IDENTITY_INSERT [dbo].[modelo] ON 

INSERT [dbo].[modelo] ([ModeloId], [NModelo], [EquipoId]) VALUES (1, N'Desfibrilador', 2)
INSERT [dbo].[modelo] ([ModeloId], [NModelo], [EquipoId]) VALUES (2, N'GAAAAAAAAAAAAAAAAA', 3)
SET IDENTITY_INSERT [dbo].[modelo] OFF
SET IDENTITY_INSERT [dbo].[orden] ON 

INSERT [dbo].[orden] ([OrdenId], [Lugar_PersonasId], [FechaGeneracion], [FechaEjecucion], [Estado], [EmpleadoId]) VALUES (1, 2, CAST(N'2020-11-22' AS Date), NULL, N'A', 1)
INSERT [dbo].[orden] ([OrdenId], [Lugar_PersonasId], [FechaGeneracion], [FechaEjecucion], [Estado], [EmpleadoId]) VALUES (2, 2, CAST(N'2020-11-23' AS Date), NULL, N'A', 3)
SET IDENTITY_INSERT [dbo].[orden] OFF
SET IDENTITY_INSERT [dbo].[orden_detalle] ON 

INSERT [dbo].[orden_detalle] ([OrdenDetalleId], [OrdenId], [EjemplarId], [Estado]) VALUES (1, 1, 1, N'1')
INSERT [dbo].[orden_detalle] ([OrdenDetalleId], [OrdenId], [EjemplarId], [Estado]) VALUES (2, 2, 1, N'1')
SET IDENTITY_INSERT [dbo].[orden_detalle] OFF
SET IDENTITY_INSERT [dbo].[orden_servicio] ON 

INSERT [dbo].[orden_servicio] ([OrdenServicioId], [ServicioId], [OrdenDetalleId], [Precio]) VALUES (1, 1, 1, CAST(10.00 AS Decimal(10, 2)))
INSERT [dbo].[orden_servicio] ([OrdenServicioId], [ServicioId], [OrdenDetalleId], [Precio]) VALUES (2, 2, 2, CAST(2000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[orden_servicio] OFF
SET IDENTITY_INSERT [dbo].[persona] ON 

INSERT [dbo].[persona] ([PersonaId], [NPersona]) VALUES (1, N'Ernesto Sanchez')
INSERT [dbo].[persona] ([PersonaId], [NPersona]) VALUES (2, N'Ernesto')
INSERT [dbo].[persona] ([PersonaId], [NPersona]) VALUES (3, N'Gonzalo')
SET IDENTITY_INSERT [dbo].[persona] OFF
INSERT [dbo].[provincia] ([ProvinciaId], [DepartamentoId], [NProvincia]) VALUES (N'1', N'1', N'Lima_prov')
SET IDENTITY_INSERT [dbo].[reporte] ON 

INSERT [dbo].[reporte] ([ReporteId], [Asunto], [Observacion], [FechaGeneracion], [FechaAtencion], [FechaEjecucion], [Estado], [OrdenServicioId]) VALUES (1, N'Rapidez maxima', N'Ninguna', CAST(N'2020-11-22' AS Date), CAST(N'2020-11-23' AS Date), CAST(N'2020-11-22' AS Date), N'1', 1)
INSERT [dbo].[reporte] ([ReporteId], [Asunto], [Observacion], [FechaGeneracion], [FechaAtencion], [FechaEjecucion], [Estado], [OrdenServicioId]) VALUES (2, N'Rapidez maxima', N'El GA duro mucho tiempo', CAST(N'2020-11-22' AS Date), CAST(N'2020-11-23' AS Date), CAST(N'2020-11-22' AS Date), N'1', 1)
INSERT [dbo].[reporte] ([ReporteId], [Asunto], [Observacion], [FechaGeneracion], [FechaAtencion], [FechaEjecucion], [Estado], [OrdenServicioId]) VALUES (3, N'METER GA´s', N'NINGUNA', CAST(N'2020-04-27' AS Date), CAST(N'0001-01-01' AS Date), CAST(N'0001-01-01' AS Date), N'A', 1)
SET IDENTITY_INSERT [dbo].[reporte] OFF
SET IDENTITY_INSERT [dbo].[servicio] ON 

INSERT [dbo].[servicio] ([ServicioId], [NServicio], [Precio]) VALUES (1, N'Nos tiramos un GAAAAAAAAAA', CAST(1500.00 AS Decimal(10, 2)))
INSERT [dbo].[servicio] ([ServicioId], [NServicio], [Precio]) VALUES (2, N'Le soplamos el polvo', CAST(1.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[servicio] OFF
SET IDENTITY_INSERT [dbo].[sysdiagrams] ON 

SET IDENTITY_INSERT [dbo].[sysdiagrams] OFF
INSERT [dbo].[usuario] ([UsuarioId], [PersonaId], [psw], [Perfil], [Token]) VALUES (N'Alexito', 4, N'12345678', N'I', N'Por Aignar')
INSERT [dbo].[usuario] ([UsuarioId], [PersonaId], [psw], [Perfil], [Token]) VALUES (N'ErnesGOD', 1, N'12345678', N'A', N'Por Asignar')
INSERT [dbo].[usuario] ([UsuarioId], [PersonaId], [psw], [Perfil], [Token]) VALUES (N'gonzaloescudero', 3, N'123123', N'I', N'cMiZxu70g28YPVNQkNaH/s0qP+WL4QbHawUt6swlUqic80XVlzotA4pJRN0rN5fpF4DA4Y/6pGW4lU3rk6NzTLfuKY6Nx9x1idbWdAq6HRg=')
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_principal_name]    Script Date: 18/06/2020 4:49:41 ******/
ALTER TABLE [dbo].[sysdiagrams] ADD  CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cliente]  WITH CHECK ADD  CONSTRAINT [Cliente_Persona] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[persona] ([PersonaId])
GO
ALTER TABLE [dbo].[cliente] CHECK CONSTRAINT [Cliente_Persona]
GO
ALTER TABLE [dbo].[distrito]  WITH CHECK ADD  CONSTRAINT [Distrito_Provincia] FOREIGN KEY([ProvinciaId], [DepartamentoId])
REFERENCES [dbo].[provincia] ([ProvinciaId], [DepartamentoId])
GO
ALTER TABLE [dbo].[distrito] CHECK CONSTRAINT [Distrito_Provincia]
GO
ALTER TABLE [dbo].[ejemplar]  WITH CHECK ADD  CONSTRAINT [Ejemplar_Equipo] FOREIGN KEY([EquipoId])
REFERENCES [dbo].[equipo] ([EquipoId])
GO
ALTER TABLE [dbo].[ejemplar] CHECK CONSTRAINT [Ejemplar_Equipo]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [Empleado_Persona] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[persona] ([PersonaId])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [Empleado_Persona]
GO
ALTER TABLE [dbo].[equipo]  WITH CHECK ADD  CONSTRAINT [Equipo_Modelo] FOREIGN KEY([ModeloId])
REFERENCES [dbo].[modelo] ([ModeloId])
GO
ALTER TABLE [dbo].[equipo] CHECK CONSTRAINT [Equipo_Modelo]
GO
ALTER TABLE [dbo].[lugar]  WITH CHECK ADD  CONSTRAINT [Lugar_Distrito] FOREIGN KEY([Ubigeo])
REFERENCES [dbo].[distrito] ([Ubigeo])
GO
ALTER TABLE [dbo].[lugar] CHECK CONSTRAINT [Lugar_Distrito]
GO
ALTER TABLE [dbo].[lugar_cliente]  WITH CHECK ADD  CONSTRAINT [Lugar_Personas_Lugar] FOREIGN KEY([LugarId])
REFERENCES [dbo].[lugar] ([LugarId])
GO
ALTER TABLE [dbo].[lugar_cliente] CHECK CONSTRAINT [Lugar_Personas_Lugar]
GO
ALTER TABLE [dbo].[lugar_cliente]  WITH CHECK ADD  CONSTRAINT [LugarCliente_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[cliente] ([ClienteId])
GO
ALTER TABLE [dbo].[lugar_cliente] CHECK CONSTRAINT [LugarCliente_Cliente]
GO
ALTER TABLE [dbo].[modelo]  WITH CHECK ADD  CONSTRAINT [Modelo_Marca] FOREIGN KEY([EquipoId])
REFERENCES [dbo].[fabricante] ([FabricanteId])
GO
ALTER TABLE [dbo].[modelo] CHECK CONSTRAINT [Modelo_Marca]
GO
ALTER TABLE [dbo].[orden]  WITH CHECK ADD  CONSTRAINT [orden_empleado] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[empleado] ([EmpleadoId])
GO
ALTER TABLE [dbo].[orden] CHECK CONSTRAINT [orden_empleado]
GO
ALTER TABLE [dbo].[orden]  WITH CHECK ADD  CONSTRAINT [Orden_Lugar_Personas] FOREIGN KEY([Lugar_PersonasId])
REFERENCES [dbo].[lugar_cliente] ([LugarClienteId])
GO
ALTER TABLE [dbo].[orden] CHECK CONSTRAINT [Orden_Lugar_Personas]
GO
ALTER TABLE [dbo].[orden_detalle]  WITH CHECK ADD  CONSTRAINT [Orden_Detalle_Ejemplar] FOREIGN KEY([EjemplarId])
REFERENCES [dbo].[ejemplar] ([EjemplarId])
GO
ALTER TABLE [dbo].[orden_detalle] CHECK CONSTRAINT [Orden_Detalle_Ejemplar]
GO
ALTER TABLE [dbo].[orden_detalle]  WITH CHECK ADD  CONSTRAINT [Orden_Detalle_Orden] FOREIGN KEY([OrdenId])
REFERENCES [dbo].[orden] ([OrdenId])
GO
ALTER TABLE [dbo].[orden_detalle] CHECK CONSTRAINT [Orden_Detalle_Orden]
GO
ALTER TABLE [dbo].[orden_servicio]  WITH CHECK ADD  CONSTRAINT [OrdenServicio_OrdenDetalle] FOREIGN KEY([OrdenDetalleId])
REFERENCES [dbo].[orden_detalle] ([OrdenDetalleId])
GO
ALTER TABLE [dbo].[orden_servicio] CHECK CONSTRAINT [OrdenServicio_OrdenDetalle]
GO
ALTER TABLE [dbo].[orden_servicio]  WITH CHECK ADD  CONSTRAINT [OrdenServicio_Servicio] FOREIGN KEY([ServicioId])
REFERENCES [dbo].[servicio] ([ServicioId])
GO
ALTER TABLE [dbo].[orden_servicio] CHECK CONSTRAINT [OrdenServicio_Servicio]
GO
ALTER TABLE [dbo].[provincia]  WITH CHECK ADD  CONSTRAINT [Table_60_Departamento] FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[departamento] ([DepartamentoId])
GO
ALTER TABLE [dbo].[provincia] CHECK CONSTRAINT [Table_60_Departamento]
GO
ALTER TABLE [dbo].[reporte]  WITH CHECK ADD  CONSTRAINT [Reporte_OrdenServicio] FOREIGN KEY([OrdenServicioId])
REFERENCES [dbo].[orden_servicio] ([OrdenServicioId])
GO
ALTER TABLE [dbo].[reporte] CHECK CONSTRAINT [Reporte_OrdenServicio]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [Table_31_Persona] FOREIGN KEY([PersonaId])
REFERENCES [dbo].[persona] ([PersonaId])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [Table_31_Persona]
GO
/****** Object:  StoredProcedure [dbo].[sp_alterdiagram]    Script Date: 18/06/2020 4:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_alterdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null,
		@version 	int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId 			int
		declare @retval 		int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @ShouldChangeUID	int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid ARG', 16, 1)
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();	 
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		revert;
	
		select @ShouldChangeUID = 0
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		
		if(@DiagId IS NULL or (@IsDbo = 0 and @theId <> @UIDFound))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end
	
		if(@IsDbo <> 0)
		begin
			if(@UIDFound is null or USER_NAME(@UIDFound) is null) -- invalid principal_id
			begin
				select @ShouldChangeUID = 1 ;
			end
		end

		-- update dds data			
		update dbo.sysdiagrams set definition = @definition where diagram_id = @DiagId ;

		-- change owner
		if(@ShouldChangeUID = 1)
			update dbo.sysdiagrams set principal_id = @theId where diagram_id = @DiagId ;

		-- update dds version
		if(@version is not null)
			update dbo.sysdiagrams set version = @version where diagram_id = @DiagId ;

		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_creatediagram]    Script Date: 18/06/2020 4:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_creatediagram]
	(
		@diagramname 	sysname,
		@owner_id		int	= null, 	
		@version 		int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId int
		declare @retval int
		declare @IsDbo	int
		declare @userName sysname
		if(@version is null or @diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID(); 
		select @IsDbo = IS_MEMBER(N'db_owner');
		revert; 
		
		if @owner_id is null
		begin
			select @owner_id = @theId;
		end
		else
		begin
			if @theId <> @owner_id
			begin
				if @IsDbo = 0
				begin
					RAISERROR (N'E_INVALIDARG', 16, 1);
					return -1
				end
				select @theId = @owner_id
			end
		end
		-- next 2 line only for test, will be removed after define name unique
		if EXISTS(select diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @diagramname)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end
	
		insert into dbo.sysdiagrams(name, principal_id , version, definition)
				VALUES(@diagramname, @theId, @version, @definition) ;
		
		select @retval = @@IDENTITY 
		return @retval
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_dropdiagram]    Script Date: 18/06/2020 4:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_dropdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT; 
		
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		delete from dbo.sysdiagrams where diagram_id = @DiagId;
	
		return 0;
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_helpdiagramdefinition]    Script Date: 18/06/2020 4:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_helpdiagramdefinition]
	(
		@diagramname 	sysname,
		@owner_id	int	= null 		
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		set nocount on

		declare @theId 		int
		declare @IsDbo 		int
		declare @DiagId		int
		declare @UIDFound	int
	
		if(@diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner');
		if(@owner_id is null)
			select @owner_id = @theId;
		revert; 
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname;
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId ))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end

		select version, definition FROM dbo.sysdiagrams where diagram_id = @DiagId ; 
		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_helpdiagrams]    Script Date: 18/06/2020 4:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_helpdiagrams]
	(
		@diagramname sysname = NULL,
		@owner_id int = NULL
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		DECLARE @user sysname
		DECLARE @dboLogin bit
		EXECUTE AS CALLER;
			SET @user = USER_NAME();
			SET @dboLogin = CONVERT(bit,IS_MEMBER('db_owner'));
		REVERT;
		SELECT
			[Database] = DB_NAME(),
			[Name] = name,
			[ID] = diagram_id,
			[Owner] = USER_NAME(principal_id),
			[OwnerID] = principal_id
		FROM
			sysdiagrams
		WHERE
			(@dboLogin = 1 OR USER_NAME(principal_id) = @user) AND
			(@diagramname IS NULL OR name = @diagramname) AND
			(@owner_id IS NULL OR principal_id = @owner_id)
		ORDER BY
			4, 5, 1
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_renamediagram]    Script Date: 18/06/2020 4:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_renamediagram]
	(
		@diagramname 		sysname,
		@owner_id		int	= null,
		@new_diagramname	sysname
	
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @DiagIdTarg		int
		declare @u_name			sysname
		if((@diagramname is null) or (@new_diagramname is null))
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT;
	
		select @u_name = USER_NAME(@owner_id)
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		-- if((@u_name is not null) and (@new_diagramname = @diagramname))	-- nothing will change
		--	return 0;
	
		if(@u_name is null)
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @new_diagramname
		else
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @owner_id and name = @new_diagramname
	
		if((@DiagIdTarg is not null) and  @DiagId <> @DiagIdTarg)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end		
	
		if(@u_name is null)
			update dbo.sysdiagrams set [name] = @new_diagramname, principal_id = @theId where diagram_id = @DiagId
		else
			update dbo.sysdiagrams set [name] = @new_diagramname where diagram_id = @DiagId
		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_upgraddiagrams]    Script Date: 18/06/2020 4:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_upgraddiagrams]
	AS
	BEGIN
		IF OBJECT_ID(N'dbo.sysdiagrams') IS NOT NULL
			return 0;
	
		CREATE TABLE dbo.sysdiagrams
		(
			name sysname NOT NULL,
			principal_id int NOT NULL,	-- we may change it to varbinary(85)
			diagram_id int PRIMARY KEY IDENTITY,
			version int,
	
			definition varbinary(max)
			CONSTRAINT UK_principal_name UNIQUE
			(
				principal_id,
				name
			)
		);


		/* Add this if we need to have some form of extended properties for diagrams */
		/*
		IF OBJECT_ID(N'dbo.sysdiagram_properties') IS NULL
		BEGIN
			CREATE TABLE dbo.sysdiagram_properties
			(
				diagram_id int,
				name sysname,
				value varbinary(max) NOT NULL
			)
		END
		*/

		IF OBJECT_ID(N'dbo.dtproperties') IS NOT NULL
		begin
			insert into dbo.sysdiagrams
			(
				[name],
				[principal_id],
				[version],
				[definition]
			)
			select	 
				convert(sysname, dgnm.[uvalue]),
				DATABASE_PRINCIPAL_ID(N'dbo'),			-- will change to the sid of sa
				0,							-- zero for old format, dgdef.[version],
				dgdef.[lvalue]
			from dbo.[dtproperties] dgnm
				inner join dbo.[dtproperties] dggd on dggd.[property] = 'DtgSchemaGUID' and dggd.[objectid] = dgnm.[objectid]	
				inner join dbo.[dtproperties] dgdef on dgdef.[property] = 'DtgSchemaDATA' and dgdef.[objectid] = dgnm.[objectid]
				
			where dgnm.[property] = 'DtgSchemaNAME' and dggd.[uvalue] like N'_EA3E6268-D998-11CE-9454-00AA00A3F36E_' 
			return 2;
		end
		return 1;
	END
	
GO
